* {
    text-align: center;
}

h1 {
    text-decoration: underline;
    color: #cc3333;
}
h2 {
    text-decoration: underline #cc3333;
    color: blueviolet;
}
p {
    font-size: large;
    background-color: aquamarine;
}
